$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #444;
}

.links {
  list-style: none;
  padding: 0;

  li {


    &:first-child {
      font-weight: bold;
      font-size: 1.3em;
    }
  }
}

.report-link {
  float: right;
}

.glyphicon {
  margin-right: 5px;
}

.custom-input {
  margin-right: 10px;
  text-align: center;
  width: 80px;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  background-color: transparent;

  &:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #428bca;
  }
}

.icon {
  background-color: #59D968;
  width: 180px;
  height: 96px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

.icon svg {
  max-width: 100%;
  border-radius: 4px;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
}
