$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap.min.css';

.report-link {
  float: right;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-top: 10px;
}
