<h2>May 2014</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th>Time</th>
      <th>State</th>
      <th>City</th>
      <th>Summary</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sighting in sightings">
      <td>{{ sighting.day }}</td>
      <td>{{ sighting.time }}</td>
      <td>{{ sighting.state }}</td>
      <td>{{ sighting.city }}</td>
      <td>{{ sighting.summary | truncate:true:100:'...' }}</td>
      <td><a href="{{ sighting.link }}">Full Report</a></td>
    </tr>
  </tbody>
</table>
