<div class="well" ng-cloak>
  <div class="pull-right">

  </div>

  <div>
    <strong>Position: </strong>{{ position.latitude }}, {{ position.longitude}}
  </div>
  <div>
    <strong>Approximate Location:</strong> {{ city }}, {{ state }}
  </div>
</div>

<h2>Sightings <span class="label label-success">{{ sightings.length }}</span></h2>
<hr>
<div class="panel panel-default" ng-repeat="sighting in sightings">
  <div class="panel-heading">
    <a href="{{ sighting.link }}" class="report-link">View Report</a>
  </div>
  <div class="panel-body">
    <p>{{ sighting.summary }}</p>
  </div>
</div>
