<div class="row">
  <div class="col-sm-3">
    <div class="icon">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
      <rect x="-9" y="-9" fill="#59D968" width="82" height="81"/>
      <g>
        <path fill="#FFFFFF" d="M56.4,38.5c0,0-11.2,7.5-24.6,7.5S7.2,38.6,7.2,38.6c4.2,1.3,15.9,2.2,24.6,2.2
          C39.9,40.7,54.4,39.7,56.4,38.5z"/>
        <ellipse fill="#FFFFFF" cx="31.8" cy="36.1" rx="28" ry="4.1"/>
        <g>
          <defs>
            <ellipse id="SVGID_1_" cx="31.8" cy="35.1" rx="25.8" ry="3.9"/>
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_"  overflow="visible"/>
          </clipPath>
          <path clip-path="url(#SVGID_2_)" fill="#59D968" d="M57.6,23.6c0,6.4-11.6,11.5-25.8,11.5S6,30,6,23.6"/>
        </g>
        <path fill="none" stroke="#FFFFFF" stroke-width="0.9595" stroke-miterlimit="10" d="M46.6,31.9c0,0-2-13.9-14.8-13.9
          c-12.1,0-14.8,13.9-14.8,13.9C24.6,34.8,39.5,34.7,46.6,31.9z"/>
        <g>
          <path fill="#EFEFEF" d="M20.9,31.2c0,0,0-0.2,0-0.6c0-0.4,0.1-0.9,0.3-1.5c0.3-1.2,1-2.7,1.9-4.1c0.5-0.7,1-1.3,1.5-1.9
            c0.3-0.3,0.5-0.5,0.8-0.8c0.3-0.2,0.5-0.4,0.8-0.6c0.2-0.2,0.5-0.3,0.7-0.4c0.2-0.1,0.4-0.2,0.6-0.3c0.3-0.1,0.5-0.2,0.5-0.2
            s-0.2,0.1-0.5,0.3c-0.2,0.1-0.3,0.2-0.5,0.3c-0.2,0.2-0.4,0.3-0.6,0.5C26,22.5,25.5,23,25,23.6c-0.2,0.3-0.5,0.6-0.7,0.9
            c-0.2,0.3-0.4,0.6-0.7,1c-0.9,1.3-1.6,2.7-2.1,3.8c-0.2,0.5-0.4,1-0.5,1.3C20.9,31,20.9,31.2,20.9,31.2z"/>
        </g>
      </g>
      </svg>
    </div>
  </div>
  <div class="col-sm-5">
    <h2>Jonathan Foster</h2>
    <span>Ruby on Rails, AngularJS, Twitter Bootstrap, GeoLocation</span>
  </div>
  <div class="col-sm-4">
    <ul class="links">
      <li>Links</li>
      <li><a href="http://www.nuforc.org/">NUFORC Website</a></li>
      <li><a href="https://github.com/fostertheweb/nuforc-api">API Repo</a></li>
      <li><a href="https://github.com/fostertheweb/ufo">Website Repo</a></li>
    </ul>
  </div>
</div>

<hr>

<div class="details">
  <h3>What?</h3>
  <p>Look up UFO sightings reported to the National UFO Reporting Center throught history, or view sightings near your location.</p>

  <h3>How?</h3>
  <p>I developed an <a href="https://github.com/fostertheweb/nuforc-api">API</a> in Ruby on Rails to scrape the NUFORC website and then return the sightings in JSON.</p>

  <h3>API's Used</h3>
  <ul>
    <li>NUFORC API</li>
    <li>WeatherUnderground Geolookup API</li>
    <li>HTML5 GeoLocation API</li>
  </ul>

  <h3>HTML5 Technology</h3>
  <p>In my location service, in <code>app/scripts/services/locationservice.js</code>, you'll see I am using the HTML5 GeoLocation API to obtain the user's location. I grab their latitude and longitude which I then feed into the WeatherUnderground Geolookup API. That returns a city and state which I then can use with my NUFORC API to look for reported sightings in that location.</p>

  <h3>Extras</h3>
  <p>I used <a href="https://angularjs.org/">AngularJS</a> to structure my application. Angular follows an MVC like pattern that breaks up different components of your application into modules. I wrote some custom services in Angular that follow the singleton pattern.</p>

  <p>The custom services in <code>app/scripts/services</code>, filters in <code>app/scripts/filters</code>, and the controllers in <code>app/scripts/controllers</code> are the JavaScript I wrote. I got the filters and location service working with some help from <a href="http://stackoverflow.com/">Stack Overflow</a></p>

  <h3>Design</h3>
  <p>It is designed for desktop use, but since I am using <a href="http://getbootstrap.com/">Twitter Bootstrap</a> I could make some tweaks to make it more mobile friendly in the future.</p>

  <p>I wanted to keep it very clean and simple so you can easily read the information that is presented. I thought about a dark theme because of the theme of the website, I thought it might fit, but I think dark text on light backgrounds is much more legible.</p>

  <p>For the 'Past Sightings' page I was hoping to implement a calendar type view where you could enter a year then page through the months. It would show how many sightings were reported on each day in the calendar then you could click on a day to see more details. Unfortunately, I did not have enough time for this. Instead you can enter a specific date in history and view any sightings reported that day.</p>
